body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.layout {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.main {
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;

  .title {
    color: white; // to overwritte antd styles
    text-align: center;
  }
  .mainTitle {
    margin-bottom: 0px;
  }
  .secondaryTitle {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.search {
  max-width: 600px;
  margin: 20px auto 50px;
  display: block;

  button {
    background-color: #42a5f5;
    border-radius: 0px 10px 10px 0px !important; // to configure antd styles
  }

  input {
    border-radius: 5px 0px 0px 5px !important; // to configure antd styles
  }

  span:last-of-type {
    background-color: transparent;
  }
}
